<div class="fondo">
    <div class="superposicion"></div>
    <div class="container p-4"> 
        <div class="row"> 
            <div class="col-md-4 mx-auto"> 
                <div class="card text-center"> 
                    <div class="card-header"> 
                        <h3>Iniciar Sesión</h3> 
                    </div> 
                    <form (submit)="ingresar()" method="post" *ngIf="!revelar" class="card-body"> 
                        <fieldset> 
                            <legend>Ingrese usuario y contraseña</legend> 
                            <input (focus)="limpiarUsuario()" type="text" [(ngModel)]="nuevo.nombre" name="nuevo.nombre" 
                                placeholder="Usuario"> 
                            <input (focus)="limpiarPassword()" type="password" [(ngModel)]="nuevo.password" 
                                name="nuevo.password" placeholder="Contraseña">                         
                        </fieldset> 
                        <button (click)="validarCampos()" class="btn btn-success btnSize">Enviar</button> 
                    </form> 
                    <div *ngIf="revelar" class="card-body"> 
                        Usuario y/o contraseña incorrectos <button (click)="reintentar()" 
                            class="btn btn-success">Reintentar</button> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>    
</div>
